h1{
    background-color: lightblue;
}
ul {
    background-color: crimson

}

h1{
    font-size: 40px ;
}

ul {
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif
}

p {
    font-size: large;
}
h1{
    font-weight: 300;
}

body {
    background-color: white;
}

h1{
    text-align: center;
}
h1 {
    text-decoration: underline;
}

ol{
    background-color: crimson;
}

ol {
    font-family: ;Impact, Haettenschweiler, 'Arial Narrow', sans-serif
  
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}

h1 {
    font-family: Georgia, 'Times New Roman Bold', Times, serif;
}

p{ 
    background-color: blue;
}